@model RegisterVM
<head>
      <link href="~/css/register.css" rel="stylesheet" asp-append-version="true" />

</head>

<h3>Register</h3>


<button class="loginBtn loginBtn--facebook">
    Login with Facebook
</button>

<button class="loginBtn loginBtn--google">
    Login with Google
</button>

<form asp-controller="Account" asp-action="Register" style="width: 50%; margin-left: 25%">
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email"></span>
    
    <label asp-for="Username"></label>
    <input asp-for="Username"/>
    <span asp-validation-for="Username"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password"></span>

    <label asp-for="PasswordRepeat"></label>
    <input asp-for="PasswordRepeat"/>
    <span asp-validation-for="PasswordRepeat"></span>
    <br/>
    <input type="submit" value="Register"/>
</form>
<div asp-validation-summary="All"></div>