<!DOCTYPE html>
<html>
<head>
    <title>Rock Paper Scissors</title>
    <style>

        #container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        img {
            cursor: pointer;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div>
        <img src="/image/RPSbanner.png" alt="Wordtopia banner" />
    </div>
    <br />
    <div id="container">
        <h5>Click an image below to make your choice:</h5>
        <img id="rock" src="image/Rock.png" alt="Rock" width="300">
        <br />
        <img id="paper" src="image/Papper.png" alt="Paper" width="300">
        <br />
        <img id="scissors" src="image/Scissors.png" alt="Scissors" width="300">
        <br />
        <p id="result"></p>

        <p id="wins">Wins:</p>
        <ul>
            <li>Rock: <span id="rock-wins">0</span></li>
            <li>Paper: <span id="paper-wins">0</span></li>
            <li>Scissors: <span id="scissors-wins">0</span></li>
        </ul>
        <p id="current-wins">Current wins in a row: <span id="current-wins-count">0</span></p>
        <p id="high-score">Highscore for wins in a row: <span id="high-score-count">0</span></p>
        <p id="high-score">Total games: <span id="total-games">0</span></p>
    </div>

    <div class="save">
            <button type="button" id="save-btn" >Save</button>
    </div>
   


    @section scripts
        {
        <script src="~/js/rockpaperscissor.js" type="module" asp-append-version="true"></script>
    }
</body>
</html>