<div>
    <img src="/image/RPSbanner.png" alt="Wordtopia banner" />
</div>
<h5 class="game-instruction-header">Click an image below to make your choice:</h5>
<div class="rockpaperscissors-game-board">
    <img id="scissors" src="image/Scissors.png" alt="Scissors" width="300">
    <img id="rock" class="game-choice" src="image/Rock.png" alt="Rock" width="300">
    <img id="paper" src="image/Papper.png" alt="Paper" width="300">
</div>
<p id="result">Choose your weapon!</p>
<div class="game-stats">
    
    <p id="wins">Wins</p>
    <ul>
        <li>Rock: <span id="rock-wins">0</span></li>
        <li>Paper: <span id="paper-wins">0</span></li>
        <li>Scissors: <span id="scissors-wins">0</span></li>
    </ul>
    <p id="current-wins">Current wins in a row: <span id="current-wins-count">0</span></p>
    <p id="high-score">Highscore for wins in a row: <span id="high-score-count">0</span></p>
    <p id="high-score">Total games: <span id="total-games">0</span></p>
    <div class="save">
        <button type="button" id="save-btn">Save</button>
    </div>
</div>


@section scripts
{
    <script src="~/js/rockpaperscissor.js" type="module" asp-append-version="true"></script>
}

