<div>
    <img src="/image/RPSbanner.png" alt="Wordtopia banner" />
</div>
<h5 class="game-instruction-header">Click on your weapon of choice:</h5>
<div class="rockpaperscissors-game-board">
    <img id="scissors" class="weapon-choice" src="image/Scissors.png" alt="Scissors" width="300">
    <img id="rock" class="weapon-choice" src="image/Rock.png" alt="Rock" width="300">
    <img id="paper" class="weapon-choice" src="image/Papper.png" alt="Paper" width="300">
</div>
<div class ="game-message">
    <p id="opponent-message"></p>
    <p id="result">Choose your weapon!</p>
</div>
<div class="game-stats">
    
    <p id="wins" class="text-bold">Winning choice</p>
    <ul>
        <li><span class="text-bold">Rock: </span><span id="rock-wins">0</span></li>
        <li><span class="text-bold">Paper: </span><span id="paper-wins">0</span></li>
        <li><span class="text-bold">Scissors: </span><span id="scissors-wins">0</span></li>
    </ul>
    <p class="win-stats"><span class="text-bold">Current wins in a row: </span><span id="current-wins-count">0</span></p>
    <p class="win-stats"><span class="text-bold">Highscore for wins in a row: </span><span id="high-score-count">0</span></p>
    <p class="win-stats"><span class="text-bold">Total games: </span><span id="total-games">0</span></p>
    <div class="save">
        <button type="button" id="save-btn">Save</button>
        <p id="save-msg" style="display:none">Your stats have been saved</p>
    </div>
</div>

@section scripts
{
    <script src="~/js/rockpaperscissor.js" type="module" asp-append-version="true"></script>
}