<div>
    <img src="/image/RPSbanner.png" alt="Wordtopia banner" />
</div>
<h5 class="game-instruction-header">Click on your weapon of choice:</h5>
<div class="rockpaperscissors-game-board">
    <img id="scissors" class="weapon-choice" src="image/Scissors.png" alt="Scissors" width="300">
    <img id="rock" class="weapon-choice" src="image/Rock.png" alt="Rock" width="300">
    <img id="paper" class="weapon-choice" src="image/Papper.png" alt="Paper" width="300">
</div>
<div class ="game-message">
    <p id="top-message"></p>
    <p id="bottom-message">Choose your weapon!</p>
</div>
<div class="game-stats">
    <p id="wins" class="text-bold">Win statistics</p>
    <p>Rock wins: <span id="rock-wins">0</span></p>
    <p>Paper wins: <span id="paper-wins">0</span></p>
    <p>Scissors wins: <span id="scissors-wins">0</span></p>
    <p class="win-stats">Current wins in a row: <span id="current-wins-count">0</span></p>
    <p class="win-stats">Highscore for wins in a row: <span id="high-score-count">0</span></p>
    <p class="win-stats">Total games: <span id="total-games">0</span></p>
    <div class="save">
        <button type="button" id="save-btn">Save</button>
        <p id="save-msg" style="display:none">Your stats have been saved</p>
    </div>
</div>

@section scripts
{
    <script src="~/js/rockpaperscissor.js" type="module" asp-append-version="true"></script>
}