.image {
    width: 500px;
    margin-left: 50px;
}

.text {
    width: 500px;
    float: none;
}



/* https://alvarotrigo.com/blog/css-text-animations/
    Water Wave Heading
*/

.waveHeading {
    position: relative;
    margin-bottom:1.4em;
}


    .waveHeading h1 {
        position: absolute;
        font-size: clamp(1rem, 6vw, 8rem);
        transform: translate(0%, -50%);
    }

        .waveHeading h1:nth-child(1) {
            color: transparent;
            -webkit-text-stroke: 1px var(--primary);
        }

        .waveHeading h1:nth-child(2) {
            color: var(--primary);
            animation: animate 4s ease-in-out infinite;
        }


@keyframes animate {
    0%, 100% {
        clip-path: polygon( 0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100% );
    }

    50% {
        clip-path: polygon( 0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100% );
    }
}

/*adds spacing stop stop header*/
.article div {
    padding: 1rem;
}


.rockpaperscissors {
    width: 500px;
    height: 300px;
}

@media (max-width: 1200px) {
    .rockpaperscissors {
        display: none;
    }
}

.gameswelcome{
    position:center;
}
/*
.welcome-text {
    color: transparent;
    -webkit-text-stroke: 1px var(--primary);
}*/


.wordle {
    width: 500px;
    height: 300px;
}

@media (max-width: 1200px) {
    .wordle {
        display: none;
    }
}

.SlidingPuzzle {
    width: 500px;
    height: 300px;
}

@media (max-width: 1200px) {
    .SlidingPuzzle {
        display: none;
    }
}