button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

/* PRODUCTS */
.product {
    position: relative;
    overflow: hidden;
    padding: 1px;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

    .product-container::-webkit-scrollbar {
        display: none;
    }

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 300px;
    margin-right: 20px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 50%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #00bcd4;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #00bcd4;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-decoration-thickness: auto;
}

.product-short-description {
    width: 100%;
    height: 100px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}



.pre-btn,
.nxt-btn {
    border-color:transparent;
    width: 5vw;
    height: 52%;
    position: absolute;
    top: 5;
    display: flex;
    justify-content: center;
    align-items: center;
 /*       background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);*/
    background-color:transparent;
    cursor: pointer;
    z-index: 8;
  
}

.pre-btn {
    left: 0;
    
}

.nxt-btn {
    right: 0;
    transform: rotate(180deg);
}

    .pre-btn img,
    .nxt-btn img {
        opacity: 0.8;
    }

    .pre-btn:hover img,
    .nxt-btn:hover img {
        opacity: 1;
    }

