:root {
    --letter-box-bg-green: #339730;
    --letter-box-bg-yellow: #bfb32a;
    --letter-box-bg-grey: #787878;
    --letter-box-colored-font-color: #FFFFFF;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

logo{
    height:3px;
    width: 3px; 
}

.game-board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 50px;
}

.board-row {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
}

.letter-box {
    width: 5rem;
    height: 5rem;
    border: 1px solid #9a9a9a;
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-message {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;  
    color: black;
    height: 6rem;
    padding: 2.5rem;
}

.hidden {
    visibility: hidden;
}

.letter-box__green {
    background-color: var(--letter-box-bg-green);
    color: var(--letter-box-colored-font-color);
}

.letter-box__yellow {
    background-color: var(--letter-box-bg-yellow);
    color: var(--letter-box-colored-font-color);
}

.letter-box__grey {
    background-color: var(--letter-box-bg-grey);
    color: var(--letter-box-colored-font-color);
}

.box {
    border: dotted;
    padding: 1em;
}

.box a:hover {
    color: hotpink
}