:root {
    --letter-box-bg-green: #339730;
    --letter-box-bg-yellow: #bfb32a;
    --letter-box-bg-grey: #787878;
    --letter-box-colored-font-color: #FFFFFF;
}

@media (max-width: 1200px) {
    .home {
        display: none;
    }
}

@media (max-width: 1200px) {
    .about {
        display: none;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

logo {
    height: 3px;
    width: 3px;
}

.main-nav {
    background-color: transparent;
    padding: 0 1.5rem;
    box-shadow: 0 5px 20px -20px gray;
}

.main-nav a {
    color: var(--secondary)
}

.main-nav a:hover {
    color: hotpink
}

/*  --- Rock, paper, scissor Styles ---  */

.game-instruction-header {
    text-align: center;
    margin: 0;
    padding: 2rem 0 1rem 0;
}

.center {
    text-align: center;  
}

.weapon-choice {
    cursor: pointer;
    max-width: 300px;
    height: auto;
}

.rockpaperscissors-game-board {
    display: flex;
    justify-content: center;
    gap: 0.33rem;
}

.weapon-selected {
    border: 5px solid #FFFFFF;
}

.game-stats {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#result {
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}

#wins {
    margin: 0;
    font-weight: 700;
}

.win-stats {
    margin: 0;
}

.save {
    padding: 1rem 0;
}

.disable-clicks {
    pointer-events: none;
}


/*  --- Wordtopia styles --- */
.game-board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.board-row {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
}

.letter-box {
    width: 5rem;
    height: 5rem;
    border: 1px solid #9a9a9a;
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: hotpink;
    height: 5rem;
    padding: 2.5rem 0;
}

.btn-play-again {
    margin: 0 auto;
    max-width: 8rem;
}

.hidden {
    display: none;
}

.letter-box__green {
    background-color: var(--letter-box-bg-green);
    color: var(--letter-box-colored-font-color);
}

.letter-box__yellow {
    background-color: var(--letter-box-bg-yellow);
    color: var(--letter-box-colored-font-color);
}

.letter-box__grey {
    background-color: var(--letter-box-bg-grey);
    color: var(--letter-box-colored-font-color);
}

.wordlelife {
    width: 350px;
    height: 350px;
}


/*  --- Slider styles ---  */

.switch-button {
    background:/* #00acc1*/ #A543DF;
    border-radius: 30px;
    overflow: hidden;
    width: 160px;
    text-align:start;
    letter-spacing: 1px;
    color: #FFFFFF;
    position: relative;
/*    padding-right: 100px;*/
    position: relative;
}

.switch-button:before {
    content: "English";
    position:absolute;
    color: #FFFFFF;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
    display:flex;
    align-items:center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.switch-button-checkbox:checked + .switch-button-label:before {
    transform: translateX(82px);
    transition: transform 300ms linear;
}

.switch-button-label {
    position: relative;
    padding: 15px 10px;
    display: block;
    user-select: none;
    pointer-events: none;
}

.switch-button-label:before {
    content: "";
    background: #ffffff;
    height: 100%;
    width: 78px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}


/*  --- Keyboard styles ---  */

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
}

