html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
logo{
    height:3px;
    width: 3px; 
}

.game-board { 
   
}

.board-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
}

.word-box {
    width: 5rem;
    height: 5rem;
    background-color: hotpink;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: dotted;
    padding: 1em;
    
}
.box a:hover {
    color: hotpink
}