:root {
    --letter-box-bg-green: #339730;
    --letter-box-bg-yellow: #bfb32a;
    --letter-box-bg-grey: #787878;
    --letter-box-colored-font-color: #FFFFFF;
}

/* This will cause issues with responsive font sizing handled by Pico CSS.
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*
  Why do we override/set these values? 
  html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

logo {
    height: 3px;
    width: 3px;
}

.main-nav a:hover {
    color: hotpink
}

/*  --- Wordtopia styles --- */

.game-board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 50px;
}

.board-row {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
}

.letter-box {
    width: 5rem;
    height: 5rem;
    border: 1px solid #9a9a9a;
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-message {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    height: 5rem;
    padding: 2.5rem;
}

.btn-play-again {
    margin: 0 auto;
    max-width: 8rem;
}

.hidden {
    visibility: hidden;
}

.letter-box__green {
    background-color: var(--letter-box-bg-green);
    color: var(--letter-box-colored-font-color);
}

.letter-box__yellow {
    background-color: var(--letter-box-bg-yellow);
    color: var(--letter-box-colored-font-color);
}

.letter-box__grey {
    background-color: var(--letter-box-bg-grey);
    color: var(--letter-box-colored-font-color);
}

.main-nav {
    background-color: transparent;
    padding: 0 1.5rem;
    box-shadow: 0 5px 20px -20px gray;
}

    .main-nav a {
        color: var(--secondary)
    }


/* --- Keyboard styles --- */

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #keyboard-cont div {
        display: flex;
    }

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
}

/* --- Slider --- */

.switch-button {
    background: #00acc1;
    border-radius: 30px;
    overflow: hidden;
    width: 240px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    position: relative;
    padding-right: 120px;
    position: relative;
}

    .switch-button:before {
        content: "English";
        position: absolute;
        color: #FFFFFF;
        top: 0;
        bottom: 0;
        right: 0;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        pointer-events: none;
    }

.switch-button-checkbox {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

    .switch-button-checkbox:checked + .switch-button-label:before {
        transform: translateX(130px);
        transition: transform 300ms linear;
    }

.switch-button-label {
    position: relative;
    padding: 15px 10px;
    display: block;
    user-select: none;
    pointer-events: none;
}

    .switch-button-label:before {
        content: "";
        background: #ffffff;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 30px;
        transform: translateX(0);
        transition: transform 300ms;
    }
