

.puzzle-board {
    display: flex;
    justify-content: center;
}

.game-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 0.3rem;
}

.picture-component, .empty {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.empty {background: white; cursor: default;}

