<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Boredtopia</title>

    <link rel="icon" href="~/image/Untitled design-modified.png" type="image/icon type">

    <link rel="stylesheet" href="css/pico.min.css" asp-append-version="true">

    <link href="~/css/pico.theme.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
   
    <link href="~/css/developerstuff.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/footer.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/slidingpuzzle.css" rel="stylesheet" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/c2d73dbe44.js" crossorigin="anonymous"></script>

</head>
<body>
    <main class="container">
        <header>
            <nav>
            

                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Home">
                            <div class="waveHeading">
                                <h1>BoredTopia</h1>
                                <h1>BoredTopia</h1>
                            </div>
                            
                        </a>
                    </li>

                </ul>

                <ul>
                    <li>
                        <details role="list" dir="rtl" aria-label="theme color options">
                            <summary aria-haspopup="listbox" role="none" class="contrast">
                                <i class="fa-solid fa-circle-half-stroke"></i>

                            </summary>
                            <ul role="listbox">
                                <li role="none"><a href="#" data-theme-switcher="auto">Auto</a></li>
                                <li role="none"><a href="#" data-theme-switcher="light">Light</a></li>
                                <li role="none"><a href="#" data-theme-switcher="dark">Dark</a></li>
                            </ul>
                        </details>


                    </li>


                </ul>

            </nav>
        </header>
        <br />
        <nav class="main-nav" aria-label="primary navigation" >
            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="home"> Home</a></li>
            </ul>
            <ul>
                <li><a asp-controller="Home" asp-action="Games">Games</a></li>
            </ul>
            <ul>
                <li><a asp-controller="Account" asp-action="Profile" >Profile</a></li>
            </ul>
            <ul>
                <li><a asp-controller="Home" asp-action="About" class="about"> About </a></li>
            </ul>
            <nav aria-label="breadcrumb">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>Logged in as @User.Identity.Name</li>
                        <li><a asp-controller="Account" asp-action="Logout">Sign out</a></li>
                    }
                    else
                    {
                        <li role="none"><a asp-controller="Account" asp-action="Login">Login</a></li>
                        <li role="none"><a asp-controller="Account" asp-action="Register">Register</a></li>
                    }
                </ul>
            </nav>
        </nav>
        <br />
        <div role="main">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/theme-switcher.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <footer>
        <div class="footer">
            <div class="row">
                <a href="https://boredtopia.azurewebsites.net/" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://boredtopia.azurewebsites.net/" aria-label="instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://boredtopia.azurewebsites.net/" aria-label="youtube"><i class="fa fa-youtube"></i></a>
                <a href="https://boredtopia.azurewebsites.net/" aria-label="twitter"><i class="fa fa-twitter"></i></a>
            </div>

            <div class="row">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Games">Games</a></li>
                    <li><a asp-controller="Account" asp-action="Profile">Profile</a></li>
                    <li><a asp-controller="Home" asp-action="About"> About </a></li>
                    <li><a asp-controller="Account" asp-action="Login"> Login </a></li>
                    <li><a asp-controller="Account" asp-action="Register"> Register </a></li>

                </ul>
            </div>

            <div class="row">
                &copy; 2023 - Boredtopia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <details> <summary>Guess how long it took it build this</summary><p>Less than two weeks how crazy !</p></details>
            </div>
        </div>
    </footer>

</body>
</html>
