<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Boredtopia</title>

    <link rel="icon" href="~/image/Hotpot.png" type="image/icon type">

    <link rel="stylesheet" href="css/pico.min.css" asp-append-version="true">

    <link href="~/css/pico.theme.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/footer.css" rel="stylesheet" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/c2d73dbe44.js" crossorigin="anonymous"></script>

</head>
<body>
    <main class="container">
        <header>
            <nav aria-label = "logo and home">
                <ul>
                    <li>
                        <a asp-action="Index" asp-controller="Home"><img src="image/Hotpot.png" alt="BoardTopia logo class= " logo" height="150px" width="150px" /></a>
                        </li>
                </ul>

                <ul>
                    <li><a asp-action="Index" asp-controller="Home"> <h1>BoardTopia</h1></a></li>
                </ul>

                <ul>
                    <li>
                        <details role="list" dir="rtl">
                            <summary aria-haspopup="listbox" role="link" class="contrast">Select Themes

                            </summary>
                            <ul role="listbox">
                                <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                                <li><a href="#" data-theme-switcher="light">Light</a></li>
                                <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                            </ul>
                        </details>
                    </li>


                </ul>

            </nav>
        </header>
        <nav class ="box" aria-label="primary navigation">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
            <ul>
                <li><a asp-controller="Home" asp-action="Games">Games</a></li>
            </ul>
            <ul>
                <li><a asp-controller="Account" asp-action="Profile">Profile</a></li>
            </ul>
            <ul>
            <li><a asp-controller="Home" asp-action="About"> About </a></li>
            </ul>
            <nav aria-label="breadcrumb">
                <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>Logged in as @User.Identity.Name</li>
                        <li><a asp-controller="Account" asp-action="Logout">Sign out</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                    }
                </ul>
            </nav>
        </nav>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             


        <div role="main">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/theme-switcher.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Boredtopia</h4>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="Games">Games</a></li>
                        <li><a asp-controller="Home" asp-action="Profile">Profile</a></li>
                        <li><a asp-controller="Home" asp-action="About"> About </a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Community</h4>
                    <ul>
                        <li><a href="#">Discord</a></li>
                        <li><a href="#">Steam</a></li>
                      
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            &copy; 2023 - Boredtopia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <details> <summary>Guess how long it took it build this</summary><p>Less than two weeks how crazy !</p></details>
        </div>
    </footer>
</body>
</html>
