<h1>About us!</h1>
<h2>This is our project for our last go at this education to become super duper coders</h2>

<div style=" display: flex; justify-content: center">
    <span style="flex-wrap: wrap">
    <img src="image/CatComp.png" alt="graphic image of a Coding cat" style="margin: 10px 10px"/>
    <img src="image/CatMascot.png" alt="graphic image of Cat" style="margin:10px 10px"/>
</span>
</div>
<div>
    <p><strong>Developed by:</strong></p>
    <p> <a href="https://github.com/Wavephoria">Jens</a></p> 
    <p><a href="https://github.com/booleanne3521">Annerle</a></p>
    <p> <a href=" https://github.com/Pyttemjuk">Emelia</a></p>
    <p> <a href=" https://github.com/Pyttemjuk">Rasmus</a></p>
    <p><a href="https://github.com/yuta9398 ">Yuria</a></p>
   
</div>