<hgroup>
    <h1>About us!</h1>
    <h2><strong>
            This is our project for our last go at this education to become super duper coders
    </strong></h2>
</hgroup>

<div style=" display: flex; justify-content: center">
    <span style="flex-wrap: wrap">
    <img src="image/CatComp.png" alt="graphic image of a Coding cat" style="margin: 10px 10px"/>
    <img src="image/CatMascot.png" alt="graphic image of Cat" style="margin:10px 10px"/>
</span>
</div>

@*<div class="grid">
    <div>
    <img src="image/CatComp.png" alt="graphic image of a Coding cat" style="margin: 10px 10px" />
    <img src="image/CatMascot.png" alt="graphic image of Cat" style="margin:10px 10px" />
    </div>
</div>*@

<div class="grid">
   
    <p>Developed by:</p>
   
    <article>
        <span class=" fa-brands fa-github"></span>
       
        <a role="button" target="_blank" href="https://github.com/Wavephoria">Jens</a>
    </article>

    <article>  <span class="fa-brands fa-github"></i></span>
        <a role="button" target="_blank" href="https://github.com/booleanne3521">Annerle</a>
    </article>
    <article>
        <i class="fa-brands fa-square-github"></i>
        <a role="button" target="_blank" href=" https://github.com/Pyttemjuk">Emelia</a>
    </article>
    <article>
        <i class="fa-brands fa-square-github"></i>
        <a role="button" target="_blank" href=" https://github.com/Pyttemjuk">Rasmus</a>
    </article>
    <article>
        <i class="fa-brands fa-github-alt"></i>
        <a role="button" target="_blank" href="https://github.com/yuta9398 "> Yuria</a>
    </article>
   
</div>