<head>
    <link href="~/css/TheTeam.css" rel="stylesheet" asp-append-version="true" />
</head>
<hgroup>
    <h1>About us!</h1>
    <h2><strong>
            This is our project for our last go at this education to become super duper coders
    </strong></h2>
</hgroup>

<div style=" display: flex; justify-content: center">
    <span style="flex-wrap: wrap">
    <img src="image/CatComp.png" alt="graphic image of a Coding cat" style="margin: 10px 10px"/>
    <img src="image/CatMascot.png" alt="graphic image of Cat" style="margin:10px 10px"/>
</span>
</div>

<br />
<br />
<div>
    <h5>Our team</h5>
</div>
<section class="grid" id="index_grid">
    
       <article class="col-md-3 col-sm-6">
        <div class="our-team">
            <div class="pic">
                <img src="/image/a smart woman from Sweden - Edited.png">
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href=" https://github.com/Pyttemjuk" class="fab fa-github"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
            </div>
            <div class="team-content">
                <div class="team-info">
                    <h3 class="title">Emilia</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
    </article>
        <article class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="/image/smart woman from japan.png">
                    <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="https://github.com/yuta9398 " class="fab fa-github"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Yuria</h3>
                    <span class="post">Web Developer</span>
                    </div>
                </div>
            </div>
        </article>
        <article class="col-md-3 col-sm-6">
            <div class="our-team">
                <div class="pic">
                    <img src="/image/CatMascot.png">
                    <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="https://github.com/booleanne3521" class="fab fa-github"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                    </ul>
                </div>
                <div class="team-content">
                    <div class="team-info">
                        <h3 class="title">Annerle</h3>
                    <span class="post">Web Developer</span>
                    </div>
                </div>
            </div>
        </article>
    <article class="col-md-3 col-sm-6">
        <div class="our-team">
            <div class="pic">
                <img src="/image/morecat.png">
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href=" https://github.com/Nilssonrasmus" class="fab fa-github"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
            </div>
            <div class="team-content">
                <div class="team-info">
                    <h3 class="title">Rasmus</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
    </article>
    <article class="col-md-3 col-sm-6">
        <div class="our-team">
            <div class="pic">
                <img src="/image/cats.png">
                <ul class="social">
                    <li><a href="#" class="fab fa-facebook"></a></li>
                    <li><a href="https://github.com/Wavephoria" class="fab fa-github"></a></li>
                    <li><a href="#" class="fab fa-linkedin"></a></li>
                </ul>
            </div>
            <div class="team-content">
                <div class="team-info">
                    <h3 class="title">Jens</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
    </article>
   
</section>

@*<div class="grid">
   
    <p>Developed by:</p>
   
    <article>
        <span class=" fa-brands fa-github"></span>
       
        <a role="button" target="_blank" href="https://github.com/Wavephoria">Jens</a>
    </article>

    <article>  <span class="fa-brands fa-github"></i></span>
        <a role="button" target="_blank" href="https://github.com/booleanne3521">Annerle</a>
    </article>
    <article>
        <i class="fa-brands fa-square-github"></i>
        <a role="button" target="_blank" href=" https://github.com/Pyttemjuk">Emelia</a>
    </article>
    <article>
        <i class="fa-brands fa-square-github"></i>
        <a role="button" target="_blank" href=" https://github.com/Nilssonrasmus">Rasmus</a>
    </article>
    <article>
        <i class="fa-brands fa-github-alt"></i>
        <a role="button" target="_blank" href="https://github.com/yuta9398 "> Yuria</a>
    </article>
   
</div>*@