<h1>About us!</h1>
<h2>This is our project for our last go at this education to become super duper coders</h2>

<span style="flex-wrap: wrap">
    <img src="image/CatComp.png" alt="Coding cat" style="margin-bottom: 10px"/>
    <img src="image/CatMascot.png" alt="Cat" style="margin-bottom: 10px"/>
</span>

<div>

    <p>Developed by:</p> <br />
    <p> <a href="https://github.com/Wavephoria">Jens</a></p> <br />
    <p><a href="https://github.com/booleanne3521"></a>Annerle</p> <br />
    <p> <a href=" https://github.com/Pyttemjuk">Emelia</a></p><br />
    Rasmus<br/>
    <p><a href="https://github.com/yuta9398 ">Yuria</a></p>
</div>