<head>
    <link href="~/css/gamespage.css" rel="stylesheet" asp-append-version="true" />
</head>
<h1>Games!</h1>
<h2>Scroll through and you will surely find a game that you will like!</h2>

<section class="product">
    <h2 class="product-category">New games</h2>
    <button class="pre-btn"><img src="/image/lessthan.png" alt=""></button>
    <button class="nxt-btn"><img src="/image/lessthan.png" alt=""></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
               <img src="/image/coverAI.png" class="product-thumb" alt="">
                <a asp-controller="Home" asp-action="Wordle"><button class="card-btn">Play now</button></a>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Wordtopia</h7>
                <p class="product-short-description">The latest game in the boredtopia universe</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/CatComp.png" class="product-thumb" alt="">
                <a asp-controller="Home" asp-action="RockPaperScissors"><button class="card-btn">Play now</button></a>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Rock, Paper, Scissors</h7>
                <p class="product-short-description">Inspired by the classic game of old...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/CatMascot.png" class="product-thumb" alt="">
                <a asp-controller="Home" asp-action="Wordle" ><button class="card-btn">Play now</button></a>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/cats.png" class="product-thumb" alt="">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/morecat.png" class="product-thumb" alt="">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/Hotpot.png" class="product-thumb" alt="">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/AIJapnart.png" class="product-thumb" alt="">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/coverAI.png" class="product-thumb" alt="">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/coverAI.png" class="product-thumb" alt="">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/coverAI.png" class="product-thumb" alt="">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
    </div>
</section>

<script> 
    const productContainers = [...document.querySelectorAll('.product-container')];
    const nxtBtn = [...document.querySelectorAll('.nxt-btn')];
    const preBtn = [...document.querySelectorAll('.pre-btn')];

    productContainers.forEach((item, i) => {
        let containerDimensions = item.getBoundingClientRect();
        let containerWidth = containerDimensions.width;

        nxtBtn[i].addEventListener('click', () => {
            item.scrollLeft += containerWidth;
        })

        preBtn[i].addEventListener('click', () => {
            item.scrollLeft -= containerWidth;
        })
    })

</script>

<article class="info about games">
    <p>
        intrested in knowing more about the differnt games at wordtopia ? 
        <br />read the developer stories and get to know more about the love behind the games !
    </p>
</article>

   

<main class=" container">
    <article class="grid">
        <div>
            <p>A special game - Rasmus Nilsson</p>
            <blockquote>
                Now I know some of you might be thinking, “Really? Rock, paper, scissors? That’s a kid’s game.” But hear me out, there’s something special about this game that transcends age and brings people together.
                 It’s a game that everyone knows, and it doesn’t require any special skills or equipment. It’s just you and your opponent, face-to-face, ready to do battle.
                It’s a simple game, yet it brings so much joy, competition, and excitement.
            </blockquote>
            <a asp-controller="Home" role="button" asp-action="RockPaperScissors" class="outline"> Play Rock Paper Scissors Now!</a>
        </div>
        <div class="rockpaperscissors">
            <a asp-action="RockPaperScissors" asp-controller="Home"> <img src="/image/rock-paper-scissors.png" alt="picture of rock paper sissors = " logo" /></a>
        </div>
    </article>
</main>
