<head>
    <link href="~/css/gamespage.css" rel="stylesheet" asp-append-version="true" />
</head>

<section id=" games-welcome" class="games-welcome">
    <p>Warm welcome to our games page!</p>
    <p>
    Here you will find all our games, upcoming and running and even some mini interviews with our fantastic developers!
    </p>
</section>


<section class="product">
    <h2 class="product-category">New games</h2>
    <button type="button" class="pre-btn"><img src="/image/icons8-double-left-96.png" alt="left arrow"></button>
    <button class="nxt-btn"><img src="/image/icons8-double-left-96.png" alt="right arrow"></button>
    <div class="product-container">
        <div class="product-card">
            <div class="product-image">
               <img src="/image/wordtopiaFcopy.jpg" class="product-thumb" alt="Wordtopia thumbnail">
                <a asp-controller="Home" asp-action="Wordle"><button class="card-btn">Play now</button></a>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Wordtopia</h7>
                <p class="product-short-description">The latest game in the boredtopia universe</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/RPSFcopy.jpg" class="product-thumb" alt="Rock Paper Scissors thumbnail">
                <a asp-controller="Account" asp-action="RockPaperScissors"><button class="card-btn">Play now</button></a>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Rock, Paper, Scissors</h7>
                <p class="product-short-description">Inspired by the classic game of old...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/puzzelcopy.jpg" class="product-thumb" alt="Sliding puzzle thumbnail">
                <a asp-controller="Home" asp-action="SlidingPuzzle" ><button class="card-btn">Play now</button></a>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Sliding puzzle</h7>
                <p class="product-short-description">Play now</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/tttcopy.jpg" class="product-thumb" alt="Tictactoe thumbnail">
                <a asp-controller="Home" asp-action="TicTacToe"><button class="card-btn">Play now</button></a>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Tic Tac Toe</h7>
                <p class="product-short-description">Simple, quick and fun all in one!</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/dummy1.png" class="product-thumb" alt="dummy thumbnail">
                <a asp-controller="Home" asp-action="TicTacToe"><button class="card-btn">Play now</button></a>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/dummy3.png" class="product-thumb" alt="dummy thumbnail">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/boardgame thumbnail - Edited.png" class="product-thumb" alt="dummy thumbnail">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/dummy5.png" class="product-thumb" alt="dummy thumbnail">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/dummy6.png" class="product-thumb" alt="dummy thumbnail">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
        <div class="product-card">
            <div class="product-image">
                <img src="/image/dummy7.png" class="product-thumb" alt="dummy thumbnail">
                <button class="card-btn">Play now</button>
            </div>
            <div class="product-info">
                <h7 class="product-brand">Game name</h7>
                <p class="product-short-description">coming soon...</p>
            </div>
        </div>
    </div>
</section>

<article class="info about games">
    <p>
        Interested in knowing more about the differnt games at Boardtopia? 
        <br />Read the developer stories and get to know more about the love behind the games!

    <p>Jump to them! <a href ="#rockpaperscissorsJUMP">Rock Paper Scissors |</a> <a href="#wordtopiaJUMP"> Wordtopia |</a> <a href="#meowJUMP">Sliding Puzzle</a></p>
    </p>
</article>

<main class=" container">
    <article class="grid">
        <div id="wordtopiaJUMP">
            <p>Wordtopia </p>
            <blockquote>
                Welcome to Wordtopia, the exciting new word game that's fun for all ages! Unlike other popular word games, there's no once-a-day limit to how much you can play. Join us on our journey to bring the joy of words to the world, and experience the addictive fun of Wordtopia for yourself!
            </blockquote>
            <a asp-controller="Home" role="button" asp-action="Wordle" class="outline"> Play Wordtopia Now!</a>
        </div>
        <div class="wordle">
        <a asp-action="Wordle" asp-controller="Home"> <img src="/image/wordtopiaFcopy.jpg" alt="picture of wordle = " logo" /></a>
        </div>
    </article>
    <br />
    <article class="grid">
        <div id="rockpaperscissorsJUMP">
            <p>A special game - Rasmus Nilsson</p>
            <blockquote>
                Now I know what some of you might be thinking, Really? Rock, paper, scissors? That's a kids game, but hear me out, there's something special about this game that transcends age and brings people together.
                It's a game that everyone knows, and it doesn't require any special skills or equipment. It's just you and your opponent, face-to-face, ready to do battle.
                It's a simple game, yet it brings so much joy, competition, and excitement.
            </blockquote>
            <a asp-controller="Account" role="button" asp-action="RockPaperScissors" class="outline"> Play Rock Paper Scissors Now!</a>
        </div>
        <div class="rockpaperscissors">
            <a asp-action="RockPaperScissors" asp-controller="Account"> <img src="/image/RPSFcopy.jpg" alt="picture of rock paper sissors = " logo" /></a>
        </div>
    </article>
    <br />
    
    <article class="grid">
        <div id="meowJUMP">
            <p>Sliding Puzzle</p>
            <blockquote>
                I love puzzels and you know, puzzle games are a popular and growing genre, and I believe my game has the potential to stand out in a crowded market. Sliding Puzzle features a sleek, minimalist design that is both visually appealing and easy to navigate. The blocks are brightly colored and visually distinct, making it easy for players to distinguish between them. The backgrounds are simple and unobtrusive, allowing players to focus on the puzzles themselves.
            </blockquote>
            <a asp-controller="Home" role="button" asp-action="SlidingPuzzle" class="outline"> Play Sliding Puzzle Now!</a>
        </div>
        <div class="SlidingPuzzle">
        <a asp-action="SlidingPuzzle" asp-controller="Home"> <img src="/image/puzzelcopy.jpg" alt="sliding puzzle" logo" /></a>
        </div>
    </article>
</main>


@section scripts {
    <script>
        const productContainers = [...document.querySelectorAll('.product-container')];
        const nxtBtn = [...document.querySelectorAll('.nxt-btn')];
        const preBtn = [...document.querySelectorAll('.pre-btn')];

        productContainers.forEach((item, i) => {
            let containerDimensions = item.getBoundingClientRect();
            let containerWidth = containerDimensions.width;

            nxtBtn[i].addEventListener('click', () => {
                item.scrollLeft += containerWidth;
            })

            preBtn[i].addEventListener('click', () => {
                item.scrollLeft -= containerWidth;
            })
        })
    </script>
}

