<h1>Games!</h1>
<h2>Scroll through and you will surely find a game that you will like!</h2>

<a asp-controller="Home" asp-action="Wordle">Wordle</a>
<a asp-controller="Home" asp-action="RockPaperScissors">Rock Paper Scissors</a>