<h1>Games!</h1>
<h2>Scroll through and you will surely find a game that you will like!</h2>

<div class="grid-container">
    <div class="grid" id="index_grid">

        <a asp-controller="Home" asp-action="Wordle">
            <picture>

                <img src="/image/coverAI.png" />
            </picture>
            <hgroup>
                The O.G king
                <p> Play our one and only wordtopia</p>
            </hgroup>
        </a>

        <a asp-controller="Home" asp-action="RockPaperScissors">
            <picture>

                <img src="/image/CatMascot.png" />
            </picture>
            <hgroup>
                The O.G king
                <p> Play our one and only wordtopia</p>
            </hgroup>
        </a>

        <a asp-controller="Home" asp-action="Wordle">
            <picture>

                <img src="/image/AIJapnart.png" />
            </picture>
            <hgroup>
                The O.G king
                <p> Play our one and only wordtopia</p>
            </hgroup>
        </a>

        <a asp-controller="Home" asp-action="Wordle">
            <picture>

                <img src="/image/morecat.png" />
            </picture>
            <hgroup>
                The O.G king

                <p> Play our one and only wordtopia</p>
            </hgroup>
        </a>

        <a asp-controller="Home" asp-action="Wordle">
            <picture>

                <img src="/image/cats.png" />
            </picture>
            <hgroup>
                The O.G king

                <p> Play our one and only wordtopia</p>
            </hgroup>
        </a>

    </div>
</div>
