@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome!</h1>
    <h2>If you are bored, you have come to the right site!</h2>
    <p>We have mainly some different variations of those kind of games called "-dle"</p>
    <br/>
    <h3>Our newest games are:</h3>
    <a asp-controller="Home" asp-action="Wordle">Wordle</a>
</div>
