@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <hgroup>
        <h1 id="welcome-text" class="welcome-text"> Welcome!</h1>
        <text>If you are bored,sad, semi curious or whatever you have come to the right site! and we're super happy to show you around !</text>
        <p>click around to find fun games and maybe create a log in to save your wins !</p>
    </hgroup>
    <br />
    <h2>Our newest games are:</h2>
</div>


<div >
    <div class="grid" id="index_grid">

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/coverAI.png" />
        </picture>
        <hgroup>
            Wordtopia
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>
    <a asp-controller="Home" asp-action="RockPaperScissors">
        <picture>

            <img src="/image/CatMascot.png" />
        </picture>
        <hgroup>
            Rock, Paper, Scissors
            <p> Play the classic game rock, paper, scissors</p>
        </hgroup>
    </a>

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/AIJapnart.png" />
        </picture>
        <hgroup>
            The O.G king
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/morecat.png" />
        </picture>
        <hgroup>
            The O.G king
           
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>

        <a asp-controller="Home" asp-action="Wordle">
            <picture>

                <img src="/image/cats.png" />
            </picture>
            <hgroup>
                The O.G king

                <p> Play our one and only wordtopia</p>
            </hgroup>
        </a>

   </div>
</div>
<br />
<br />

<main class=" container">
    <h2>Developer's Choice</h2>
    <article class="grid">
        <div class="wordle">
            <a asp-action="RockPaperScissors" asp-controller="Home"> <img src="/image/CatComp.png" alt="picture of rock paper sissors = " logo" /></a>
        </div>
        <div class="description">
            <h6>Wordtopia</h6>
            <blockquote>
                Welcome to Wordtopia, the exciting new word game that's fun for all ages! Unlike other popular word games, there's no once-a-day limit to how much you can play. 
                Join us on our journey to bring the joy of words to the world, and experience the addictive fun of Wordtopia for yourself!
            </blockquote>
            <a asp-controller="Home" role="button" asp-action="Wordle" class="outline"> Play Wordtopia Now!</a>
        </div>
    </article>
    <br />
</main>





