@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <hgroup>
        <h1 > Welcome!</h1>
        <text>If you are bored, sad, semi-curious or whatever you have come to the right site! We are super happy to show you around!</text>
        <p>Click around to find fun games and maybe create an account to save your wins!</p>
    </hgroup>
    <br />
    <h3 >Our newest games</h3>
</div>


<div >
    <div class="grid" id="index_grid">

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/wordtopiaF.png" alt="Wordtopia thumbnail" />
        </picture>
        <hgroup>
            Wordtopia
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>
    <a asp-controller="Account" asp-action="RockPaperScissors">
        <picture>

            <img src="/image/RPSF.png" alt="Rock Paper Scissors thumbnail"/>
        </picture>
        <hgroup>
            Rock, Paper, Scissors
            <p> Play the classic game rock, paper, scissors</p>
        </hgroup>
    </a>

    <a asp-controller="Home" asp-action="SlidingPuzzle">
        <picture>

            <img src="/image/puzzel.png" alt="Sliding Puzzle thumbnail" />
        </picture>
        <hgroup>
            Sliding puzzle
            <p> Play soothing sliding puzzle</p>
        </hgroup>
    </a>

    <a asp-controller="Home" asp-action="TicTacToe">
        <picture>

            <img src="/image/ttt.png"/ alt="Tic Tac Toe thumbnail">
        </picture>
        <hgroup>
            Tic Tac Toe
           
            <p> Play the quick and simple Tic Tac Toe</p>
        </hgroup>
    </a>

        <a asp-controller="Home" asp-action="Wordle">
            <picture>

                <img src="/image/dummy2.png"/ alt="dummy thumbnail">
            </picture>
            <hgroup>
               Coming soon !

                <p> Play our one and only wordtopia</p>
            </hgroup>
        </a>

   </div>
</div>
<br />
<br />

<main class=" container">
    <h3>Developer's Choice</h3>
    <article class="grid">
        <div class="wordlelife">
            <a asp-action="RockPaperScissors" asp-controller="Home"> <img src="/image/wordtopiaF.png" alt="picture of wordtopia"/></a>
        </div>
        <div class="description">
            <h6>Wordtopia</h6>
            <blockquote>
                Welcome to Wordtopia, the exciting new word game that's fun for all ages! Unlike other popular word games, there's no once-a-day limit to how much you can play. 
                Join us on our journey to bring the joy of words to the world, and experience the addictive fun of Wordtopia for yourself!
            </blockquote>
            <a asp-controller="Home" role="button" asp-action="Wordle" class="outline"> Play Wordtopia Now!</a>
        </div>
    </article>
    <br />
</main>





