@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Welcome!</h1>
    <hgroup>
        <h2>If you are bored, you have come to the right site!</h2>
        <p>We have mainly some different variations of those kind of games called "-dle"</p>
    </hgroup>
    <br />
    <h3>Our newest games are:</h3>

</div>


<div class="grid-container" >
    <div class="grid" id="index_grid">

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/CatMascot.png"
        </picture>
        <hgroup>
            The O.G king
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/CatMascot.png"
        </picture>
        <hgroup>
            The O.G king
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/CatMascot.png"
        </picture>
        <hgroup>
            The O.G king
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/CatMascot.png"
        </picture>
        <hgroup>
            The O.G king
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>


   </div>
</div>


