@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">

    <h1>Welcome!</h1>
    <hgroup>
        <h2>If you are bored, you have come to the right site!</h2>
        <p>We have mainly some different variations of those kind of games called "-dle"</p>
    </hgroup>
    <br />
    <h3>Our newest games are:</h3>

</div>


<div >
    <div class="grid" id="index_grid">

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/coverAI.png"
        </picture>
        <hgroup>
            The O.G king
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>
    <a asp-controller="Home" asp-action="RockPaperScissors">
        <picture>

            <img src="/image/CatMascot.png"
        </picture>
        <hgroup>
            Rock, Paper, Scissors
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/AIJapnart.png"
        </picture>
        <hgroup>
            The O.G king
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>

    <a asp-controller="Home" asp-action="Wordle">
        <picture>

            <img src="/image/morecat.png" />
        </picture>
        <hgroup>
            The O.G king
           
            <p> Play our one and only wordtopia</p>
        </hgroup>
    </a>

        <a asp-controller="Home" asp-action="Wordle">
            <picture>

                <img src="/image/cats.png" />
            </picture>
            <hgroup>
                The O.G king

                <p> Play our one and only wordtopia</p>
            </hgroup>
        </a>

   </div>
</div>

<article>
        <h2>Developer's Choice</h2>
        <div class="grid">
        <div class="image"> <a asp-controller="Home" asp-action="Wordle"> <img src="/image/coverAI.png" alt="Wordtopia game cover"> </a></div>
            <div>
            <p><strong>Wordtopia</strong></p>
            <p class="text">Welcome to Wordtopia, the exciting new word game that's fun for all ages! Unlike other popular word games, there's no once-a-day limit to how much you can play. With simple and stimulating gameplay, Wordtopia is perfect for anyone who loves a good word challenge. Join us on our journey to bring the joy of words to the world, and experience the addictive fun of Wordtopia for yourself!</p>
            <p><a asp-controller="Home" asp-action="Wordle" role="button">Play now</a></p>
            </div>   
        </div>
</article>





