<!DOCTYPE html>
<html>
<head>
    <title>Rock Paper Scissors</title>
    <style>

        #container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        img {
            cursor: pointer;
            margin-right: 10px;
        }
    </style>
</head>
<body>

    <div id="container">
        <h1>Rock Paper Scissors</h1>
        <p>Click an image to make your choice:</p>
        <img id="rock" src="image/Rock.png" alt="Rock" width="100" height="100">
        <img id="paper" src="image/Paper.png" alt="Paper" width="100" height="100">
        <img id="scissors" src="image/Scissor.png" alt="Scissors" width="100" height="100">
        <p id="result"></p>

        <p id="wins">Wins:</p>
        <ul>
            <li>Rock: <span id="rock-wins">0</span></li>
            <li>Paper: <span id="paper-wins">0</span></li>
            <li>Scissors: <span id="scissors-wins">0</span></li>
        </ul>
        <p id="current-wins">Current wins in a row: <span id="current-wins-count">0</span></p>
        <p id="high-score">Highscore for wins in a row: <span id="high-score-count">0</span></p>
    </div>

    <button id="save-btn">Save</button>


    @section scripts
        {
        <script src="~/js/rockpaperscissor.js" type="module" asp-append-version="true"></script>
    }
</body>
</html>