
<!DOCTYPE html>
<html>
<head>
    <title>Rock Paper Scissors</title>
    <style>

        #container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        img {
            cursor: pointer;
            margin-right: 10px;
        }
    </style>
</head>
<body>

    <div id="container">
        <h1>Rock Paper Scissors</h1>
        <p>Click an image to make your choice:</p>
        <img id="rock" src="image/Rock.png" alt="Rock" width="100" height="100">
        <img id="paper" src="image/Paper.png" alt="Paper" width="100" height="100">
        <img id="scissors" src="image/Scissor.png" alt="Scissors" width="100" height="100">
        <p id="result"></p>
    </div>

    @section scripts
        {
        <script src="~/js/rockpaperscissor.js" type="module" asp-append-version="true"></script>
    }
</body>
</html>