
<div>
    <img src="/image/Slidingpuzzlebanner.png" alt="Wordtopia banner" />
</div>
<br />
<br />
<div class="puzzle-board game-grid"></div>


@section scripts
{
    <script src="~/js/slidingpuzzle.js" type="module" asp-append-version="true"></script>
}