<div class="table">
    <div class="row1">
        <div id="tile1"></div>
        <div id="tile2"></div>
        <div id="tile3"></div>
    </div>
    <div class="row2">
        <div id="tile4"></div>
        <div id="tile5"></div>
        <div id="tile6"></div>
    </div>
    <div class="row3">
        <div id="tile7"></div>
        <div id="tile8"></div>
        <div id="tile9"></div>
    </div>
</div>
