<div class="table">
    <div class="row1">
        <div class="tile1"></div>
        <div class="tile2"></div>
        <div class="tile3"></div>
    </div>
    <div class="row2">
        <div class="tile4"></div>
        <div class="tile5"></div>
        <div class="tile6"></div>
    </div>
    <div class="row3">
        <div class="tile7"></div>
        <div class="tile8"></div>
        <div class="tile9"></div>
    </div>
</div>
