@model WordleVM;

<div class="row">
<details>
    <summary>How to Play </summary><ul>
        <li>
            You're given six attempts to guess a 5-letter word
        </li>
        <li>
            Each attempt at guessing the word offers hints by the highlighted letter coloring.
        </li>
        <li>
            If a letter contains a green background, this indicates you guessed the proper letter in the correct spot.
        </li>
        <li>
            Anything with a yellow background indicates you've guessed the correct letter, but it's in the wrong spot.
        </li>
        <li>
            In contrast, letters with gray backgrounds are not in the word at all, which means you can skip them in your following guesses.
        </li>
        <li>
            You only have six turns to gather all your previous clues to figure out the word of the day.
        </li>
        <li>
            Log in to save your wins ! and see how well you're doing!
        </li>
    </ul>
</details>
</div>

<div class="switch-button">
    <input class="switch-button-checkbox" type="checkbox" />
    <label class="switch-button-label" for="">
        <span class="switch-button-label-span">Swedish</span>
    </label>
</div>

<div class="game-board"></div>
<div class="game-over-div hidden">
    <div class="game-over-message"></div>
    <button class="btn-play-again">Play again</button>
</div>


<div id="keyboard-cont">
    <div class="first-row">
        <button class="keyboard-button">q</button>
        <button class="keyboard-button">w</button>
        <button class="keyboard-button">e</button>
        <button class="keyboard-button">r</button>
        <button class="keyboard-button">t</button>
        <button class="keyboard-button">y</button>
        <button class="keyboard-button">u</button>
        <button class="keyboard-button">i</button>
        <button class="keyboard-button">o</button>
        <button class="keyboard-button">p</button>
        <button class="keyboard-button">å</button>
    </div>
    <div class="second-row">
        <button class="keyboard-button">a</button>
        <button class="keyboard-button">s</button>
        <button class="keyboard-button">d</button>
        <button class="keyboard-button">f</button>
        <button class="keyboard-button">g</button>
        <button class="keyboard-button">h</button>
        <button class="keyboard-button">j</button>
        <button class="keyboard-button">k</button>
        <button class="keyboard-button">l</button>
        <button class="keyboard-button">ö</button>
        <button class="keyboard-button">ä</button>
    </div>
    <div class="third-row">
        <button class="keyboard-button">Del</button>
        <button class="keyboard-button">z</button>
        <button class="keyboard-button">x</button>
        <button class="keyboard-button">c</button>
        <button class="keyboard-button">v</button>
        <button class="keyboard-button">b</button>
        <button class="keyboard-button">n</button>
        <button class="keyboard-button">m</button>
        <button class="keyboard-button">Enter</button>
    </div>
</div>




@section scripts
{
    <script src="~/js/wordtopia.js" type="module" asp-append-version="true"></script>
}