
<div class="game-board"></div>
<div class="game-over-message"></div>
<button class="btn-play-again">Play again</button>

@section scripts
{
    <script src="~/js/wordle.js" asp-append-version="true"></script>
}